
#Title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
#game4_req{
  font-size: 25px;
  top: 15%;
  position: relative;
}
  
  #game4_container{
    margin: 10px;
    padding : 10px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
  
    background-color: white;
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #game4_missionArea{
    width: 70%;
  
    border-radius: 10px;
    color: black;
  
    text-align: center;
    font-size: 21px;
    font-weight: bolder;

    line-height: 94px;
  }
  #game4_missionArea img{
    width: 600px;
    height: 210px;
  }
  
  #game4_answerArea{
    display: flex;
    flex-direction: row;
    background-color: pink;
    width: 70vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
  }
  
  /* #answerArea div{
    border: 1px solid black;
    width: 70px;
    height: 70px;
  } */
  
  #game4_answerArea img{
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
  }
  
  #game4_check{
    width: 320px;
    height: 60px;
    padding: 0px;
    margin: 3% 4px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
    border:none;
    background-color:lightcoral;
  }
  
  #check:hover{
    cursor: pointer;
  }
  
  #game4_imgArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1325px;
  }
  
  #game4_imgArea div{
    margin: 16px;
    padding: 8px;
    
    width: 87px;
    height: 70px;
    text-align: center;
  }
  
  #game4_imgArea div img{
    margin: 0;
    padding: 0;
    
    width: 80px;
    height: 80px;
  }