#main {
    margin: auto;
    width: fit-content;
}

#box {
    width: 1200px;
    height: 500px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    margin: auto;
    margin-top: 25px;
    border: 20px solid rgba(255, 215, 0);
    border-bottom: 0;
    border-radius: 20px 20px 0 0;
}

#box img {
    position: absolute;
    height: auto;
    width: 150px;
    z-index: 50;
}

#gap {
    position: absolute;
    left: 0px;
    bottom: -20px;
    width: 210px;
    height: 200px;
    border-right: 20px solid rgba(255, 215, 0);
    border-radius: 20px 20px 0 0;
}

#gift {
    position: absolute;
    width: 230px;
    height: 256px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
    float: left;
    border: 20px solid rgba(255, 215, 0);
    border-top: 0;
    box-sizing: border-box;
    z-index: 0;
    border-radius: 0 0 20px 20px;
    left: 360px;
}

#control {
    border-top: 20px solid gold;
    text-align: center;
    padding: 25px 0;
    height: 250px;
    box-sizing: border-box;
    margin-left: 250px;
}

#stickbar {
    width: 200px;
    height: 200px;
    background-image: url(/assets/img/game-7-img/joystick-bar.png);
    background-position: bottom;
    background-size: 200px 60px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 100px;
}

#stick {
    width: 200px;
    height: 150px;
    background-image: url(/assets/img/game-7-img/joystick.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 150px;
    transform-origin: center bottom;
}

#catcher {
    width: 100px;
    height: 150px;
    position: absolute;
    left: 50px;
    background-image: url(/assets/img/game-7-img/machine.png);
    background-size: auto 120px;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 100;
}

#roll {
    position: absolute;
    width: 20px;
    bottom: 150px;
    background-image: url(/assets/img/game-7-img/roll.png);
    background-size: cover;
    left: calc(50% - 10px);
}

.hook {
    width: 50px;
    height: 100px;
    position: absolute;
    top: 110px;
}

#left-hook {
    left: 0;
    background-image: url(/assets/img/game-7-img/machine-left.png);
    background-size: auto 90px;
    background-repeat: no-repeat;
    background-position: 10px 3px;
    transform-origin: center top;
    transform: rotate(45deg);
}

.leftclip {
    animation: leftclip 100ms linear forwards;
}

.leftclip-reverse {
    animation: leftclip-reverse 100ms linear forwards;
}

@keyframes leftclip {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(20deg);
    }
}

@keyframes leftclip-reverse {
    from {
        transform: rotate(20deg);
    }

    to {
        transform: rotate(45deg);
    }
}

#right-hook {
    right: 0;
    background-image: url(/assets/img/game-7-img/machine-right.png);
    background-size: auto 90px;
    background-repeat: no-repeat;
    background-position: 16px 3px;
    transform-origin: center top;
    transform: rotate(-45deg);
}

.rightclip {
    animation: rightclip 100ms linear forwards;
}

.rightclip-reverse {
    animation: rightclip-reverse 100ms linear forwards;
}

@keyframes rightclip {
    from {
        transform: rotate(-45deg);
    }

    to {
        transform: rotate(-20deg);
    }
}

@keyframes rightclip-reverse {
    from {
        transform: rotate(-20deg);
    }

    to {
        transform: rotate(-45deg);
    }
}

.btn {
    display: none;
}

#btn-catch {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-image: url(/assets/img/game-7-img/start.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    outline-color: rgba(0, 0, 0, 0);
}

.opcity {
    top: 750px;
    filter: opacity(0);
    transition: .5s;
}

/* modal */
#game7_modal{
    border-radius: 7px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.823);
    display: flex;
    width: 615px;
    height: 80px;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 3px 20px white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.game7_modal_close:hover{
    cursor: pointer;
}