*{
    font-family: 'Nanum Barun Gothic';
}

body {
    overflow: hidden;
    background-color: black;
    color: #fafafa;
    /* font-family: 'Montserrat', Arial, sans-serif; */
}

/* h1 {
    font-family: 'ZCOOL KuaiLe', sans-serif;
}

h2, h3, h4, h5 {
    font-family: "Bubblegum Sans", fantasy;
} */

#title_sequence {
    background-image: url(../img/halloween-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;

    margin-top: 20px;
}

.start_container {
    display: flex;
    justify-content: center;
    width: fit-content;
    height:fit-content;
    background: beige;
    opacity: 0.8;
    border-radius: 20px;
    position: relative;
    animation: mymove 6s 1 ease-in reverse;
}

@keyframes mymove {
    from {left: 0vw;}
    to {left: 100vw;}
  }

pre {
    font-family: "Bubblegum Sans", fantasy;
    display: flex;
    justify-content: flex-start;
    font-size: 1.7vw;
    width: fit-content;
    height:fit-content;
    color: transparent;
    background-image: url(https://media.giphy.com/media/CKlafeh1NAxz35KTq4/giphy-downsized-large.gif);
    background-size: cover;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    line-height: 1.3;
    /* margin: 10px 0; */
    margin-top: 60px;
    padding-right: 90px;
}

section {
    height: 100vh;
    width: 100%;
    overflow:hidden;
}

#story_link_1, #game-1 {
    background-image: url(../img/row-of-houses.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 100%;
    margin-top: -30px;
}
#game-1{
    height: 100%;
}

.story-link-one {
    display: flex;
    justify-content: center;
    width: fit-content;
    height:fit-content;
    background: beige;
    opacity: 0.8;
    border-radius: 20px;
    position: relative;
    animation: mymove 8s 1 ease-in reverse;
}

@keyframes mymove {
    from {left: 0vw;}
    to {left: 100vw;}
  }

#story_link_2{
    background-image: url(../img/row-of-houses.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 100%;
    margin-top: -20px;
}

.story-link-two {
    display: flex;
    justify-content: center;
    width: fit-content;
    height:fit-content;
    background: beige;
    opacity: 0.8;
    border-radius: 20px;
    position: relative;
    animation: mymove 6s 1 ease-in reverse;
}

#story_link_2_append{
    background-image: url(../img/background-img/a3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.story-link-two-append {
    display: flex;
    justify-content: center;
    width: fit-content;
    height:fit-content;
    background: beige;
    opacity: 0.8;
    border-radius: 20px;
    position: relative;
    animation: mymove 6s 1 ease-in reverse;
}

@keyframes mymove {
    from {left: 0vw;}
    to {left: 100vw;}
  }

.story-link-2-append-para {
    /* font-family: "Bubblegum Sans", fantasy; */
    display: flex;
    justify-content: flex-start;
    font-size: 1.6vw;
    width: fit-content;
    height: fit-content;
    color: transparent;
    background-image: url(https://media.giphy.com/media/CKlafeh1NAxz35KTq4/giphy-downsized-large.gif);
    background-size: cover;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    line-height: 1.3;;
  }


#story_link_3{
    background-image: url(../img/background-img/a4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
}

#story_link_4{
    background-image: url(../img/background-img/a3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
}
#story_link_5{
    background-image: url(../img/background-img/a7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
#story_link_6{
    background-image: url(../img/background-img/a9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
#story_link_7{
    background-image: url(../img/background-img/a10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
#story_link_8{
    background-image: url(../img/background-img/a16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
#story_link_9{
    background-image: url(../img/background-img/a12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
#story_link_10{
    background-image: url(../img/background-img/a12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
#story_link_11{
    background-image: url(../img/row-of-houses.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 83%;
}
#game_2 {
    background-image: url(../img/row-of-houses.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 83%;
}
#game_3{
    background-image: url(../img/background-img/a4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
} 
#game_4 {
    background-image: url(../img/background-img/a3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
}
#game_5{
    background-image: url(../img/background-img/a7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
#game_6{
    background-image: url(../img/background-img/a9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
#game_7{
    color: black;
    background-image: url(../img/background-img/a10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
#game_8{
    color: black;
    background-image: url(../img/background-img/a16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
#game_9{
    background-image: url(../img/background-img/a12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
#game_10{
    background-image: url(../img/background-img/a12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
#ending_sequence {
    background-image: url(../img/background-img/a18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.sound-button-icon {
    color: #8d8d8d;
}

.sound-button {
    margin-left: 25px;
}

@media only screen and (max-height : 860px){
    #story_link_1, #game-1 {
        background-image: url(../img/row-of-houses.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        height: 100%;
        margin-top: -55px;
    }
    #title_sequence{
        margin-top: -38px;
    }
    #story_link_2{
        background-image: url(../img/row-of-houses.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        height: 100%;
        margin-top: -55px;
    }
}